body{
    color: #ededed;
    background: #081b29;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}


.about-img img{
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius:8px;
    margin-top: 100px;

}
.about-text h2{
    font-size: 60px;

}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}
/* For screens smaller than 768px (e.g., tablets and phones) */
@media (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 24px;
    }
    .about-text p {
        font-size: 18px;
        text-align: center;
        text-align: justify;
        padding: 25px 25px;
    }
    .about-img img{
        border: 2px solid #0ef;
    }
}

/* For screens smaller than 576px (e.g., phones) */
@media (max-width: 576px) {
    .about-text h2 {
        font-size: 32px;
    }
    .about-text h4 {
        font-size: 20px;
    }
    .about-text p {
        font-size: 16px;
        text-align: center;
        text-align: justify;
        padding: 25px 25px;
    }
    .about-img img{
        border: 2px solid #0ef;
    }
}